.moz-donations-errors {
	padding-left: 10px;
}
.margin-bottom-small {
	margin-bottom: 10px;
}
.moz-donations-credit-card input {
	padding-right: 0px !important;
}
.clear-both {
	clear: both;
}
.float-left {
	float: left;
}
.hidden {
	display: none;
}
.overflow-auto {
	overflow: auto;
}
.width-50 {
	width: 50%;
}